@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* ==========  ==========  ========== LAYOUT */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 100px;
}

.nav-right {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 10px;
    margin-right: 25px;
    margin-top: 10px;
}

/* ==========  ==========  ========== ICONS */

#typrr {
    font-family: 'VT323', monospace;
    font-size: 46px;
    color: orange;
}

#keyboard-logo {
    height: 50px;
}

#user-icon {
    height: 40px;
}
