@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    margin-top: 20px;
}

.nav-left {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 5px;
    margin-left: 50px;
}

.nav-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    margin-right: 50px;
}

.nav-right > h3 {
    margin-top: 9px;
}

/* ==========  ==========  ========== ICONS */

#typrr {
    font-family: 'VT323', monospace;
    font-size: 45px;
    color: orange;
}

#keyboard-logo {
    height: 45px;
}

.nav-icon {
    height: 45px;
}

@media only screen and (max-width: 768px) {
    #typrr {
        font-size: 35px;
    }

    #keyboard-logo {
        height: 35px;
    }

    .nav-icon {
        height: 35px;
    }
}

@media only screen and (max-width: 600px) {
    nav {
        padding: 0 20px;
    }

    .nav-left {
        margin-left: 10px;
    }

    .nav-right {
        margin-right: 10px;
    }

    .greeting {
        color: transparent;
        width: 0;
    }

    #typrr {
        font-size: 30px;
    }

    #keyboard-logo {
        height: 30px;
    }

    .nav-icon {
        height: 30px;
    }
}
