form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    animation: fadeIn ease-in 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.login-input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.login-register-container {
    display: flex;
    justify-content: flex-end;
}

.input-box {
    height: 30px;
    width: 300px;
    padding-left: 5px;
    border: 0;
    outline: none;
    background-color: whitesmoke;
}

.input-box-error::placeholder {
    color: whitesmoke;
}

.input-box-error,
.input-box-error:hover,
.input-box-error:focus,
.input-box-error:active {
    height: 30px;
    width: 300px;
    padding-left: 5px;
    background-color: #c54f4f;
    color: whitesmoke;
    outline: none;
}

.login-logos {
    height: 30px;
}

.submit-button {
    background-color: orange;
}

.register-login {
    color: whitesmoke;
}

.error-message {
    color: red;
}

button {
    height: 35px;
    width: 100%;
    border-style: none;
    cursor: pointer;
}