main {
    --primary: #F4F7F5;
    --secondary: #FF7F11;
    --background: #193838;
    --error: #FF5E5B;

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: var(--background);
    color: var(--primary);
}
